body,html {
	background: url("https://images.unsplash.com/photo-1519802772250-a52a9af0eacb?ixlib=rb-1.2.1&auto=format&fit=crop&w=635&q=80");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
input {
	width: 80%;
	height: 8%;
	background-color: rgba(122, 122, 122,0.3);
	border-radius: 2px;
	outline: none;
	border: none;
	color: #323232;
	padding-left: 10px;
	padding-right: 10px;
	width: 40%;
	position: absolute;
}
button {
	height: 8%;
	width: 15%;
	background-color: #F44256;
	border-radius: 5px;
	color: white;
	border: none;
	outline: none;
	font-weight: 600;
	transition: 0.5s;
	bottom: 20%;
	position: absolute;
}
button:hover {
	background-color: #d83144;
	transition: 0.5s;
}
span {
	top: 10%;
	font-weight: bold;
	font-size: 20px;
	color: #323232;
	position: absolute;
}
.auth-container {
	background-color: white;
	border-radius: 5px;
	height: 80%;
	width: 80%;
	left: 8.5%;
	top: 7%;
	padding: 20px;
	position: absolute;
}
.login-container {
	height: 80%;
	width: 40%;
	text-align: center;
	float: left;
}
.register-container {
	height: 80%;
	width: 40%;
	text-align: center;
	float: right;
	margin-top: -77%;
}
#separator {
	height: 100%;
	width: 2px;
	margin-left: 50%;
	background-color: grey;
}
#login-email{
	left: 5%;
	top: 20%;
}
#name-field {
	right: 5%;
	top: 20%;
}
#register-email{
	right: 5%;
	top: 40%;
}
#login-password{
	left: 5%;
	top: 40%;
}
#register-password{
	right: 5%;
	top: 60%;
}
#submit-login {
	left: 19%;
}
#submit-register {
	right: 17%;
}