* {
	box-sizing: border-box;
	font-family: Rubik, serif;
	will-change: transform;

}
body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: url("../images/index.jpg") center;
	background-size: cover;
	overflow: hidden;
}
nav {
	height: 8%;
	background-color: black;
	padding: 8px;
}
nav ul {
	margin-top: 10px;
	float: right;
}
nav ul li {
	display: inline-block;
	float: left;
}
nav ul li:not(first-child) {
	margin-left: 48px;
}
nav ul li:last-child {
	margin-right: 24px;
}
nav ul li a {
	display: inline-block;
	margin-top: 1px;
	outline: none;
	color: white;
	transition: 0.2s;
}
nav ul li a:hover {
	color: grey;
}
button {
	border: none;
	outline: none;
	border-radius: 5px;
	transition: 0.5s;
}
button:hover {
	cursor: pointer;
}
input {
	background-color: #4f4f4f;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.nav-wrapper {
	height: 100%;
	width: 40%;
	float: right;
}
.logo {
	height: 50px;
	width: 50px;
	float: left;
	padding: 8px;
	margin-left: 16px;
}
.account {
	height: 50px;
	width: 50px;
	float: left;
	padding: 8px;
	margin-left: 16px;
}
.main-container {
	height: 92%;
	width: 100%;
	padding-top: 5px;
	overflow-y: scroll;
	position: relative;
}
.right-panel,.left-panel {
	height: 95%;
	width: 15%;
	min-width: 150px;
	border-radius: 5px;
	background-color: #d6d2d2;
	color: #161616;
	text-align: center;
	padding: 20px;
	position: absolute;
}
.right-panel {
	right: 10px;
}
.left-panel {
	left: 10px;
}
.friends-box,.groups-box {
	margin-top: 10px;
	width: 100%;
	height: 90%;
}
.feed {
	display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 95%;
    width: 65%;
    border-radius: 5px;
    position: absolute;
}
.feed-content {
	min-height: 92%;
	margin-top: 50px;
	background-color: #d6d2d2;
	border-radius: 5px;
}
#create-group {
	background: none;
    height: 20px;
    width: 20px;
    right: 15px;
    z-index: 1;
    position: absolute;
}
#create-group-dialog {
	display: none;
	background-color: #323232;
	border-radius: 5px;
	height: 300px;
	width: 300px;
	padding: 20px;
	left: 40%;
	top: 10%;
	text-align: center;
	z-index: 1;
	position: absolute;
	animation-name: animatetop;
	animation-duration: 0.2s;
}
#create-group-submit {
	background-color: #f44242;
	padding: 10px;
	border-radius: 100px;
	color: white;
}
#field-error {
	display: none;
	color: red;
}
#close {
	color: #f44242;
    background-color: black;
    padding: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}
#close > i {
	margin-right: 5px;
}
#close:hover {
	cursor: pointer;
}
#group-form {
	margin-top: 10px;
	margin-bottom: 10px;
}
.group {
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 0px;
	color: #161616;
	background: none;
	font-size: 15px;
	transition: 0.2s;
	border-bottom: 2px solid rgba(10, 10, 10, 0.35);
}
.group:hover {
	border-bottom: 2px solid #f44242;
}
.group-container {
	display: inline-table;
	background-color: black;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    border-radius: 5px;
    padding: 7px;
    padding-bottom: 0px;
    z-index: 1;
    position: absolute;
    animation-name: fadein;
    animation-duration: 0.2s;
}
.group-header,.group-header-overlay {
	width: 100%;
    height: 270px;
	border-radius: 5px;
}
.group-header {
	z-index: 1;
	position: relative;
	background-size: cover;
}
.group-header > p{
	bottom: 55px;
    left: 100px;
    color: white;
    position: absolute;
}
.group-header-overlay {
	z-index: -1;
	position: absolute;
	background-color: rgba(0,0,0,0.40);
}
.group-content {
	display: -webkit-box;
    background-color: #d6d2d2;
    border-radius: 5px;
    min-height: 310px;
    width: 102%;
    margin-left: -1%;
    text-align: right;
}
.group-follow {
	background-color: #f44242;
    margin-top: 170px;
    margin-left: 15px;
    padding: 10px;
    color: white;
    transition: 0.2s;
}
.group-follow:hover {
	background-color: #d83a4c;
}
.group-image-container {
	background-color: black;
    border-top-left-radius: 5px;
    text-align: center;
    bottom: 0;
    right: 0;
    padding: 8px;
    height: 250px;
    width: 220px;
    position: absolute;
}
.group-image-container > span {
	color: white;
	line-height: 25px;
}
.group-image {
	width: 210px;
    height: 210px;
	object-fit: cover;
	border-radius: 5px;
}
.group-followers-container {
	background-color: rgb(30, 30, 30);
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    height: 95%;
    width: 15%;
    min-width: 150px;
    float: right;
    padding: 5px;
}
.group-followers {
	height: 100%;
	width: 100%;
}
.group-follower {
	background-color: transparent;
	height: 40px;
	width: 100%;
	line-height: 35px;
	padding: 1%;
	margin-top: 5px;
	transition: 0.2s;
}
.group-follower:hover {
	background-color: #232323;
	cursor: pointer;
}
.group-follower-image {
	height: 40px;
	width: 40px;
	float: left;
}
.group-follower-image > img {
	width: 35px;
	height: 35px;
	border-radius: 100px;
	object-fit: cover;
}
.group-follower-name {
	float: left;
	color: white;
    margin-left: 20px;
}
.post {
	background-color: #a7a7a757;
	color: #161616;
	padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 100px;
	width: 100%;
	text-align: start;
	animation-name: fadein;
    animation-duration: 0.2s;
}
.post-header {
	background-color: #161616;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    width: 103%;
    padding: 10px;
    margin-top: -10px;
    margin-left: -1.5%;
}
.post-picture {
	border-radius: 5px;
    width: 62%;
}
.post-content-box {
    width: 63%;
    overflow-wrap: break-word;
}
.post-content-box > p {
	margin-left: 5px;
	margin-right: 5px;
}
.post-content-box > img {
	border-radius: 5px;
}
.post-text {
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    word-break: break-all;
}
.post-author-image {
	float: left;
}
.post-author-image > img {
	border-radius: 100px;
    height: 30px;
    width: 30px;
	object-fit: cover;
}
.post-time {
	line-height: 30px;
    float: right;
	margin-right: 5px;
    font-size: 15px;
}
.new-post,.posts {
    padding: 10px;
    width: 70%;
}
.posts {
	min-height: 95%;
	width: 100%;
}
.new-post {
	height: 40px;
    width: 70%;
    bottom: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    position: absolute;
}
.new-post-submit {
	background-color: #f44242;
    width: 10%;
    height: 99%;
    color: white;
    font-size: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.new-post-input {
	height: 100%;
	width: 80%;
    background-color: #101010;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.5s;
}
.new-post-input:focus {
	background-color: #080808;
}
.choose-post-picture {
	display: none;
}
.choose-post-picture-icon {
    background-color: #101010;
    color: white;
    width: 10%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    line-height: 25px;
}
.like-button {
	left: 45px;
	margin-bottom: 5px;
	background: none;
}
.comments-container {
	background-color: black;
    color: white;
    min-width: 35%;
    margin-top: -300px;
    margin-right: 5px;
    float: right;
    border-radius: 5px;
    overflow-y: hidden;
}
.comments-container > p {
	text-align: center;
}
.comments-paragraph {
	margin-top: 10px;
    margin-bottom: 10px;
}
.comment {
	text-align: start;
	margin: 10px;
    border-radius: 5px;
	background-color: #323232;
	color: white;
	padding: 10px;
}
.comment-button {
	left: 50px;
	color: gray;
	margin-bottom: 5px;
	background: none;
}
.comment-input {
	width: 80%;
    height: 40px;
    bottom: 0;
    left: 0;
    border-radius: 0;
}
.comment-submit {
    background-color: #f44242;
    color: white;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 40px;
    border-radius: 0px;
}
@keyframes animatetop {
  	from {top: -300px; opacity: 0}
  	to {top: 10% ; opacity: 1}
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
